language: ruby
sudo: false
cache: bundler
rvm:
  - 2.3.0
  - 2.2
  - 2.1
before_script: bundle update
script: script/cibuild
branches:
  only:
    - master
notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#jekyll
    template:
    - '%{repository}#%{build_number} (%{branch}) %{message} %{build_url}'
  email:
    on_success: never
    on_failure: never
