---
name: Continuous Integration

on:
  push:
    branches:
    - main
    - master
    - ".*-stable"
  pull_request:
    branches:
    - main
    - master
    - ".*-stable"

jobs:
  ci:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    name: 'Ruby ${{ matrix.ruby_version }} ${{ matrix.os }} gemoji ${{ matrix.gemoji_version }}'
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        ruby_version:
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        os:
        - ubuntu-latest
        - windows-latest
        gemoji_version:
        - '3.0'
        - '4.0'
    env:
      GEMOJI_VERSION: ${{ matrix.gemoji_version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: script/cibuild
